@using PortfolioHerryWijaya.Models.Domain
@model IEnumerable<DaysGoneWeapon>



@{
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}
<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Days Gone Weapon List</h1>
    </div>
</div>

 
@*  <form method="get"
      
      asp-action="Index">
     <div class="container mt-5"> 
        <div class="row">
            <div class="col col-md-3 d-flex">
                <input type="text" class="form-control"
                       name="searchQuery" value="@ViewBag.SearchQuery" />
                 <button type="submit" class="btn btn-warning ms-3">Search</button> 
            </div>
        </div>
    </div>
</form>  *@
<section>

</section>
<form method="get"
      asp-action="Index">
    <div class="row gtr-uniform">
       
        
        
        <div class="col-6">
                <input type="text" 
                       name="searchQuery" value="@ViewBag.SearchQuery" />
           
        </div>
        <div class="col-12">
            <ul class="actions">
                <li>
                    <button type="submit" class="primary">Search</button>

                </li>
            </ul>

        </div>


    </div>
</form>
<div class="container mt-3">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                        <span>
                            <span>
                                <a class="btn btn-light"
                                   
                                   asp-action="Index"
                                   asp-route-sortBy="Name"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery"
                                  >
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light"
                                   asp-action="Index"
                                   asp-route-sortBy="Name"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                    <th>Type</th>
                    <th>Condition</th>
                    <th>
                        Source
                        <span>
                            <span>
                                <a class="btn btn-light"
                                   asp-action="Index"
                                   asp-route-sortBy="Source"
                                   asp-route-sortDirection="Asc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-up"></i>
                                </a>
                            </span>
                            <span>
                                <a class="btn btn-light"
                                   asp-action="Index"
                                   asp-route-sortBy="Source"
                                   asp-route-sortDirection="Desc"
                                   asp-route-searchQuery="@ViewBag.SearchQuery">
                                    <i class="bi bi-arrow-down"></i>
                                </a>
                            </span>
                        </span>
                    </th>
                
                </tr>
            </thead>
            <tbody>
                @foreach (var weapon in Model)
                {
                    <tr>
                        <td>@weapon.Name</td>
                        <td>@weapon.Type</td>
                        <td>@weapon.Condition</td>
                        <td>@weapon.Source</td>
                       @*  
                        <td>
                            <a asp-area="" asp-controller="AdminTags"
                               asp-action="Edit"
                               asp-route-id="@tag.Id">Edit</a>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection"
                       asp-route-searchQuery="@ViewBag.SearchQuery">Previous</a>
                </li>
                @for(int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i==ViewBag.PageNumber? "active" :"")">
                        <a class="page-link"
                          
                            
                               
                           
                        asp-action="Index"
                        asp-route-pageNumber="@i"
                        asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection"
                           asp-route-searchQuery="@ViewBag.SearchQuery">@i</a>
                        </li>

                }

                
                <li class="page-item"><a class="page-link"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection"
                       asp-route-searchQuery="@ViewBag.SearchQuery">Next</a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No tags found!</p>
    }
</div> 